body
{
  background-color:rgb(247, 178, 231);
}
.myimg{
  border:1px solid red;
  border-radius:50%;
  width: 150px;
}
.background{
  background-color: rgb(216, 250, 177);
}
.background1{
  background-color: rgb(93, 166, 244);
}
.btn{
  background-color: rgb(249, 3, 208);
  color:white;
}
#cv-template{
  display: none;
}
